In [1]:
import yfinance as yf
import pandas as pd

In [2]:
from main import *

In [3]:
def get_data(ticker):
    data = yf.download(ticker)
    return data

In [4]:
data = get_data("CIPLA.NS")

[*********************100%***********************]  1 of 1 completed

In [26]:
data.loc[pd.DatetimeIndex(['2024-06-20' , '2024-04-01'])]

,Open,High,Low,Close,Adj Close,Volume
2024-06-20,1558.0,1559.150024,1540.000000,1544.849976,1544.849976,1705000
2024-04-01,1510.0,1510.000000,1493.800049,1498.650024,1498.650024,563831

In [44]:
data.loc[data['Open'] > 500].index[0]

'2004-05-11'

In [28]:
data.loc[pd.DatetimeIndex(['2004-05-11'])].index

DatetimeIndex(['2004-05-11'], dtype='datetime64[ns]', freq=None)

In [31]:
data.index = data.index.astype(str)

In [51]:

df = data.loc['2020-05-11':'2020-06-07']

In [50]:
import datetime

def get_next_month(date_str):
  date_object = datetime.datetime.strptime(date_str, "%Y-%m-%d")
  next_month = date_object + datetime.timedelta(days = 31) 
  next_month = next_month.replace(day=min(next_month.day, date_object.day))

  next_month_str = next_month.strftime("%Y-%m-%d")

  return next_month_str

date_str = "2024-12-11"
next_month_str = get_next_month(date_str)
print(next_month_str)

2025-01-11

In [55]:
df.iloc[df['High'].argmax()]

Open         6.650000e+02
High         6.697500e+02
Low          6.490000e+02
Close        6.509000e+02
Adj Close    6.390165e+02
Volume       6.481383e+06
Name: 2020-06-05, dtype: float64

In [54]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-05-11,600.950012,600.950012,583.450012,586.049988,575.350464,5853892
2020-05-12,587.000000,593.799988,566.200012,570.150024,559.740784,8868938
2020-05-13,600.000000,605.000000,568.900024,570.200012,559.789856,10438589
2020-05-14,571.000000,577.900024,566.099976,569.750000,559.348022,8546002
2020-05-15,572.000000,585.000000,565.599976,570.299988,559.887939,14388403
2020-05-18,570.599976,605.000000,570.500000,600.450012,589.487549,22898114
2020-05-19,600.000000,608.799988,590.200012,594.950012,584.087952,10951060
2020-05-20,597.000000,624.349976,595.400024,620.650024,609.318787,13440063
2020-05-21,620.650024,626.849976,612.299988,616.599976,605.342712,7916771
2020-05-22,616.700012,641.849976,610.099976,639.349976,627.677368,10874832
2020-05-26,640.000000,646.900024,624.049988,627.700012,616.240112,8859302
2020-05-27,630.000000,637.799988,625.799988,633.049988,621.492371,7710100
2020-05-28,634.000000,637.650024,626.049988,628.349976,616.878174,5488625
2020-05-29,633.000000,650.950012,631.000000,648.150024,636.316711,10580203
2020-06-01,649.000000,652.599976,634.549988,642.500000,630.769836,7439123
2020-06-02,644.900024,658.650024,636.000000,637.599976,625.959290,6883363
2020-06-03,646.849976,649.500000,635.299988,641.200012,629.493591,5044700
2020-06-04,643.000000,664.799988,642.500000,660.549988,648.490356,10452388
2020-06-05,665.000000,669.750000,649.000000,650.900024,639.016541,6481383

In [81]:
def pre_process(data):
    data.index = data.index.astype(str)
    start = data.loc[data['Open'] > 500].index[0]
    end = get_next_month(start)
    monthly = data.loc[start: end]
    high_idx, low_idx = monthly['High'].argmax(), monthly['Low'].argmin()
    trend = "up" if high_idx < low_idx else 'down'
    return data.iloc[monthly.shape[0]:], monthly.iloc[high_idx], monthly.iloc[low_idx], trend

In [82]:
df1, high, low, trend = pre_process(data)

In [83]:
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-05,582.099976,585.000000,578.049988,579.250000,561.205017,1179725
2018-03-06,581.599976,589.400024,580.049988,584.099976,565.903870,1891302
2018-03-07,587.450012,589.099976,578.200012,580.200012,562.125366,1849650
2018-03-08,584.000000,584.000000,574.000000,578.000000,559.993958,1084582
2018-03-09,579.950012,585.200012,568.049988,571.049988,553.260376,1149194
...,...,...,...,...,...,...
2024-06-14,1545.000000,1567.000000,1535.800049,1564.750000,1564.750000,1845043
2024-06-18,1570.000000,1576.949951,1563.599976,1574.800049,1574.800049,2068897
2024-06-19,1577.400024,1582.000000,1553.400024,1559.800049,1559.800049,1881544
2024-06-20,1558.000000,1559.150024,1540.000000,1544.849976,1544.849976,1705002
2024-06-21,1549.900024,1562.900024,1533.500000,1535.099976,1535.099976,2609071

In [84]:
data, high, low, trend = pre_process(data.loc['2018-02-01':])

In [88]:
trend

'down'

In [101]:
from main import *

In [102]:
swing = Swing(day_low=low, day_high=high, trend=trend, margin=1000000.0)

In [103]:
Qty = 500
target_threshold = 25
stoploss_threshold = 10
for i in range(data.shape[0]):
    curr_day = data.iloc[i]
    #can place order
    swing.place_order(curr_day, Qty=Qty, stoploss_threshold=stoploss_threshold, target_threshold=target_threshold)
    #check trend update
    swing.update_trend(curr_day)
    #check indicator
    swing.check_indicator(curr_day)
    #watch holdings
    swing.watch_holdings(curr_day)

KeyError: 'high'